*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, il{
    list-style: none;
}
body{
    background-color: rgba(0, 166, 255, 0.636);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
main{
    padding: 100px;
}
img{
    height: 80px;
    width: 80px;
    display: flex;
    gap: 40px;
}
h2{
    display: flex;
    justify-content: end;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 180px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25%;
    color: rgba(6, 49, 49, 0.977);
}
.container{
    margin: 5%;
    justify-content: center;
    display: flex;
      gap: 50px;
}
span{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(6, 49, 49, 0.977);
}
.destaque{
    background-color: black;
    color: rgb(76, 128, 174);
    padding: 15px;
    border-radius: 10%;
}
.instagram{
    transition: 2s;
}
.github{
    transition: 2s;
}
.linkedin{
    transition: 2s;
}
.instagram:hover{
    transform: scale(1.3);
}
.github:hover{
    transform: scale(1.3);
}
.linkedin:hover{
    transform: scale(1.3);
}
